.grafterizer-container {
  position: absolute;
  top: 57px;
  bottom: 89px;
  left: 0;
  right: 0;
  overflow: auto;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0px -1px 0px 0px rgb(98,114,181), 0px -2px 0px 0px rgb(73, 89, 156);
}

iframe.grafterizer {
  width: 100%;
  border: 0;
}

@media (max-width: 768px) {
    body > header {
      z-index:2;
    }
    .grafterizer-container {
        top: 57px;
        /*z-index:-1;*/
    }
}

@media (max-width: 309px) {
    .grafterizer-container {
        top: 107px;
    }
}

@media (max-width: 991px) {
    .grafterizer-container {
        top: 106px;
    }
}

@media (min-width: 1200px) {
    .grafterizer-container {
        top: 67px;
    }
}

footer {
  z-index: -2;
}
