/* Puts the footer at the bottom of the page */
/* Can be simplified using flexbox when it be supported by most of the web browsers */

html {
    height:100%;
}

body {
    min-height:100%;
    position:relative;
}

body #body {
    min-height: inherit;
    padding-bottom:8em;
}

body > footer.navbar {
    position: absolute;
    z-index:1;
    left:0;
    right:0;
    bottom:0;
    margin-bottom:0;
    max-height: 8em;
}


.navbar .navbar-brand {

    font-size: 20px;

    font-weight: 400;

    background: transparent url(https://datagraft.net/static/images/logo.svg) no-repeat center left;

    background-size: 56px auto;

    line-height: 56px;

    vertical-align: middle;

    padding: 3px 15px 0 65px;

    letter-spacing: .02em;

    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    margin: 0px 10px 5px 15px;

}



.navbar .navbar-brand:after {

    content: " beta";

    color: #FF609A;

    position: relative;

    bottom: 9px;

    font-size: 16px;

}

header .navbar-nav, footer .navbar-nav, header .navbar-form {
	font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
	font-size:13px;
	letter-spacing: .02em;
	margin-top:3px;
	font-weight:400;
}

header .navbar-form input {
	font-size:12px;
	margin-right:20px;
}

.navbar-link {
	    text-align: left;
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-left: 30px;
}

.navbar-link a {
	color: #FF609A;
}

#transformationIframeDetails {
  min-height:400px;
  padding:0;
}

#transformationIframeDetails iframe {
  width: 100%;
  border: none;
  height: 400px;
}